:root{
    --marginZero: 0px;
    --paddingZero: 0px;
    --mainColor: #EEEEEE;
    --secondaryColor: #D9D9D9;
    --blackColor: #000000;
    --displayFlex: flex;
    --absolutePosition: absolute;
    --relativePosition: relative;
    --flexColumn: column;
    --flexRow: row;
    --justifyContent-Center: center;
    --justifyContent-SpaceBetween: space-between;
    --alignItems-Center: center;
    --font-SansSerif: sans-serif;
    --font-LucidaSans: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


*{
    margin: var(--marginZero);
    padding: var(--paddingZero);
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header{
    margin: var(--marginZero);
    height: max-content;
    width: auto;
    padding: 13px;
    display: var(--displayFlex);
}

#mainnav{
    width: max-content; 
    display: var(--displayFlex);
    flex-grow: 1;
    align-items: var(--alignItems-Center);
}

#navlist{
    display: var(--displayFlex);
    flex-direction:var(--flexRow);
    flex-grow: 1;
    margin: var(--marginZero);
    width: 2%;
    justify-content: start; 
    margin-bottom: -2px;
    margin-left: 7%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logoheader{
    height: 30px; 
    position: var(--absolutePosition);
    margin-left: 0px;
    margin-right: 2%;
}

#menulogo{
    display: var(--displayFlex);
    justify-self: flex-end;
    width: 30px;
    cursor: pointer;
}

#navlist li {
    display: none;
     gap: 1%; 
}

#navlist li a {
    color: var(--blackColor);
    margin-right: 58px;
}

header img {
    display: var(--displayFlex);
    flex-direction: var(--flexRow);
    height: 30px; 
}

#headericons{
    display:var(--displayFlex);
    flex-direction: var(--flexRow);
    justify-content: var(--justifyContent-SpaceBetween);
    align-items: var(--alignItems-Center);
    margin: -10px;
    height: 35px;
    gap: 15px;
}

#imglogin, #imgshopping{
    margin-right: 5%;
}

#container{
    display: var(--displayFlex);
    align-items: flex-end;
    width: 100%;
    height: auto; 
    min-height:30vh;
    max-height:82vh; 
    max-width: 100%;
}

#container div{
    display:var(--displayFlex);
    position: var(--absolutePosition);
    flex-direction: var(--flexColumn);
    justify-content: var(--justifyContent-Center);
    height: 97px;
    width: max-content; 
    margin-left: 16px;
}

#container h1 {
    color: var(--mainColor);
    font-size: clamp(1.2rem, 8vw, 5rem);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: max-content;    
}

#container p {
    display: var(--displayFlex);
    font-size: clamp(1.2rem, 3vw, 5rem);
    color:var(--mainColor);
    width: max-content; 
}

#container img{
    object-position: center; 
    object-fit: cover;
    width: 100%;
    height: auto;
    min-height:30vh;
    max-height:82vh;  
    z-index: -1;
} 

#container2{
    display: var(--displayFlex);
    flex-wrap: wrap;
    align-items: var(--alignItems-Center);
    justify-content: var(--justifyContent-Center);
    text-align: center;
    max-width: 1440PX;
    min-width: 100%;
}

main .models{
    display: var(--displayFlex);
    flex-direction: var(--flexColumn);
    justify-content: var(--justifyContent-Center);
    align-items: var(--alignItems-Center);
    flex-wrap: nowrap;
    background-color:var(--secondaryColor);
    max-width: 636px;
    min-width: 34vw;
    margin: 3%;
    padding: 2%;
    max-height: 557px;
    min-height: 38vh;
    border-radius: 5%; 
}

.models h3{
    display: inline-block;
    position:var(--relativePosition);
    max-width: 4em;
    font-size: 29px; 
    font-family: var(--font-LucidaSans);
}

.models .modelspan{
    display: var(--displayFlex);
    position: var(--relativePosition);
    margin-top: 3%;
    font-size: 15px;   
    font-family:var(--font-LucidaSans); 
}

.models img{
    width: 32em;
    height: auto;
    max-width: 100%;
    min-width: 150px;
    max-height: 650px;
}

.modelsnav{
  display: var(--displayFlex);
  position:var(--relativePosition);
  bottom: 10%;
}

.modelsnav a{
    display:var(--displayFlex);
    align-items: var(--alignItems-Center);
    justify-content: var(--justifyContent-Center);
    text-decoration: none;
    color: var(--blackColor);
    position: var(--relativePosition);
    margin: auto; 
}

 .modelsnav span{
    position: var(--relativePosition);
    display: var(--displayFlex);
    align-items: var(--alignItems-Center);
    bottom: -8px;
    margin: 11px;
    right: -30px; 
    display: none;  
} 

#container2 #modelbutton1, #modelbutton2,
#modelbutton3,
#modelbutton4{
    background-color: var(--mainColor);
    width: 120px;
    height: 45px;
    border-radius: 23px;
    font-family: var(--font-SansSerif);
} 

.red{
    background-color: red;
}
.silver{
    background-color: silver;
}
.black{
    background-color: var(--blackColor);
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: rgb(255, 204, 0);
}

#container3{
    display: var(--displayFlex);
    flex-direction: var(--flexColumn);
    align-content: center; /* ojo es align content */
    justify-content: var(--justifyContent-Center);
    text-align: center;
    flex-wrap: wrap;
    height: 42vh;
    min-width:37vh;
    max-height: 300px;
    width:100%;
}

#container3 h3{
    font-size: clamp(2.5rem, 5vw, 5rem);  
    margin-bottom: 0%;  
}

#container3 p{
    position: var(--relativePosition);
    align-self: flex-end;
    font-size: clamp(1.5rem, 3vw, 5rem);
    margin: 5%; 
    max-width: fit-content;
}

#container4{
    display: var(--displayFlex);
    align-items: var(--alignItems-Center);
    justify-content: var(--justifyContent-Center);
    position: var(--relativePosition);
    width: 100%;   
}

#container4 img{
    position: var(--relativePosition);
    width: 100%;    
    object-fit:cover;
    object-position: center;    
    height: auto;
    z-index: -1;
}

#findstore{
    background-color: rgba(238, 243, 243, 0.355);
    display: var(--displayFlex);
    flex-direction: var(--flexColumn);
    align-items: var(--alignItems-Center);
    justify-content: space-around /* var(--justifyContent-Center) */;
    min-width: 325px;
    max-width: 474px;
    min-height: 210px;
    max-height: 365px;
    position: var(--absolutePosition);
    border-radius: 4%;
    margin: 2%
}

#findstore span{
    font-family:Arial, Helvetica, sans-serif;
    color: var(--mainColor);
    width: 80%;
    font-size: 35px;
    text-align: center;
}
 
#findstorebutton{
    display: var(--displayFlex);
    align-items: var(--alignItems-Center);
    justify-content: var(--justifyContent-Center);
    color: var(--blackColor);
    background-color: var(--mainColor);
    border-radius: 23px;
    width: 260px;
    height: 48px;
}

.button-find-store{
    align-self: center;
    justify-self: center;
    align-content: end;
}

#findstore a{
    font-size: 17px;
    font-family: var(--font-SansSerif); 
    align-self: center;
    justify-self: flex-end;
}

#container5{
    display: var(--displayFlex);
    flex-direction: var(--flexRow); 
    overflow-x: auto;
    white-space: nowrap;
    max-height: 40%; 
    min-height:340px;
    margin-left: -1%;
    margin-top: 2%;
    margin-bottom:2%;
}

#container5 div{
    display: var(--displayFlex);
    flex-direction: var(--flexColumn);
    justify-content: var(--justifyContent-SpaceBetween);
    align-items: var(--alignItems-Center);
    flex: 0 0 auto;
    min-width: 354px;
    max-width: 546px;
    min-height: 350px;
    max-height: 489px;
    margin-left: 6%;
    padding: 2%;
    background-color: var(--secondaryColor);
    border-radius: 2%;
}

#container5 img{
    min-width: 288px;
    max-width: 95%;
    height: 191px;
    margin-bottom: 9%; 
}

.asidec5{
    background-color:var(--mainColor);
    display:var(--displayFlex);
    justify-content: flex-start;
    position: var(--relativePosition);
    width: 35%; 
    padding: 3%;
    margin-top:-10%;
    border-radius: 23px;
}

#container5 h4{
    font-size: 2em;
    font-family:var(--font-SansSerif);
    margin-top: 2%;
    font-weight: 100;
}

#container5 a{
    position:var(--relativePosition);
    left: 0%;
    text-decoration: none;
    color:var(--blackColor);
    font-family: var(--font-SansSerif);     
}

.buttoninfo{
    margin-left: 15%;
    justify-content: flex-start;
    align-items: var(--alignItems-Center);
} 


#container6 {
    display: var(--displayFlex);
    flex-direction: var(--flexColumn);
    position: var(--relativePosition);
    width: 100%;
}

#container6 article{
    display: var(--displayFlex);
    justify-content: space-evenly;
    align-items: var(--alignItems-Center);
    flex-wrap: wrap;
    background-color:var(--secondaryColor);
    width: 100%;
    height: 31vh;
    margin: 0%;
}

#container6 h4 {  
    font-size: 4ex;
    font-family: var(--font-LucidaSans);
    font-weight: 100;
}

#container6 p {   
    font-size: 2.5ex;
    font-family: var(--font-SansSerif);
    width: 83%;
    margin: 2%
}

#container6 img{
    object-position: 82%;
    object-fit: cover;
    width: 100%;
    height: auto;
    min-height: 27vh;
    max-height: 82vh;
    max-width: 100%;
    margin: var(--marginZero);
}   

#container7 {
    display: var(--displayFlex);
    flex-direction: var(--flexColumn);
    justify-content: var(--justifyContent-Center);
    text-align: center;
    align-items: var(--alignItems-Center);
    padding: 15px;
    font-family: Arial, sans-serif;
    height: 86vh;    
}

#divcontainer7 {
    display:var(--displayFlex);
    flex-direction: var(--flexColumn);
    align-items: center;   
    flex: 1;
    padding: 20px;
    text-align: left;
}

#divcontainer7 h4 {
    display: var(--displayFlex);
    text-align: center;
    font-size: clamp(1.5rem, 3vw, 5rem);  
    margin-bottom: 15px;
    font-family: var(--font-LucidaSans);
    font-weight: 100;
    line-height: 104%;
}

#divcontainer7 p {
    display: var(--displayFlex);
    font-size: clamp(1.0rem, 1vw, 5rem);
    margin-bottom: 28px;
    width: 100%;
}

.maybachbutton {
    display: inline-block;
    text-decoration: none;
    color: var(--blackColor);
    font-size: 14px;
    transition: background-color 0.9s ease;
}

.maybachbutton:hover {
    transform: scale(1.2);
}

#container7 img {
    width: 78vw;
    max-width: 447px;
    max-height: 432px; 
    height: 51vh; 
    object-fit: cover; 
    border-radius: 5%;
}

#footercontainer{
    display: var(--displayFlex);
    flex-direction: var(--flexColumn);
    justify-content: space-evenly;
    text-align: center;
    align-items: var(--alignItems-Center);
    width: 100%;
    height: 38vh;
    background-color: rgb(92, 91, 91);
}

#footercontainer button{
    background-color: var(--mainColor);
    width: 174px;
    height: 50px;
    border-radius: 23px;
    border: none;
    font-family: var(--font-SansSerif);
}

#footercontainer p{
    font-size:clamp(1.1rem, 1vw, 5rem); 
    color:var(--mainColor);
    font-family: var(--font-LucidaSans);
}

#footercontainer1{
    display: var(--displayFlex);
    flex-direction: var(--flexColumn);
    align-items: var(--alignItems-Center);
    justify-content: space-evenly;
    min-height: 355px;
    background-color: var(--blackColor);
    color: var(--mainColor);
}

#footercontainer1 h6{
    font-size: 19px;
    font-family: var(--font-LucidaSans);
    font-weight: 100;
    position: var(--relativePosition);  
}

#footercontainer1 p{
    font-size: 14px;
    font-family: var(--font-LucidaSans);
    font-weight: 100;
    position: var(--relativePosition);
}

#emailform{
    display: var(--displayFlex);
}

#emailform input{
    display: var(--displayFlex);
    flex-direction: var(--flexRow);
    margin-left: 6%;
    margin-right: -15%;
    border-radius: 20px;
    padding: 12px;
    width: 240px;
    background-color: transparent;
    border: var(--mainColor) solid 2px;
}

#emailform button{
    display: var(--displayFlex);
    flex-direction: var(--flexRow);
    justify-content: var(--justifyContent-Center);
    margin-left: 5%;
    border: 1px solid var(--mainColor);
    border-radius: 20px;
    padding: 14px;
    width: 139px;
}

#socialmedia ul{
    display: var(--displayFlex);
    gap: 15px; 
}

#socialmedia li {
    display: var(--displayFlex);
}

#checkboxform {
    display: var(--displayFlex);
    justify-content: var(--justifyContent-Center);
    font-size: 12px;
    font-family: var(--font-LucidaSans);
    min-width: 100px;
}

#checkboxform input {
    width: 20px;
    height: 20px;
}

#socialmedia img {
    max-width: 25px; 
    max-height: 25px; 
    border-radius: 50%; 
}

#footercontainer2{
    display: var(--displayFlex);
    flex-direction: var(--flexColumn);
    align-items: var(--alignItems-Center);
    flex-wrap: wrap;
    background-color: var(--blackColor);
}

.sectionfooter{
    display: var(--displayFlex);
    flex-direction: var(--flexColumn);
    height: 28ex;
    font-family: var(--font-LucidaSans);
}

.sectionfooter h4{
    display:var(--displayFlex);
    flex-direction: var(--flexColumn);
    align-items: var(--alignItems-Center);
    font-size: 28px;  
    margin-bottom: 5%;
    color: var(--mainColor);
}

.sectionfooter ol{
    display: var(--displayFlex);
    flex-direction: var(--flexColumn);
    align-items: var(--alignItems-Center);
    margin-left: 30%;
    margin-top: 0%;
}

.sectionfooter li{
    display:var(--displayFlex);
    color: var(--mainColor);
    width: max-content;
    margin-left: -39%;
    margin-top: 0%;
    margin-bottom: 1%;
    font-size: 13px;
    font-weight: 100;
}

@media screen and (min-width: 650px){
    #navlist li {
        display: var(--displayFlex);
        gap: 1%; 
    }

    #headericons{
        margin-right: 2px;
    }

    #menulogo{
        display: none;
    }

    #container{      
        align-items: self-start;
        max-height: 82vh;
    }

    #titlecontainer{
        margin-top: 5%;
    }

    .modelsnav{
        display: var(--displayFlex);
        position: var(--relativePosition);
        margin: 4%;
        width: 400px;
    }

    #modelsnav span{
        display: block;
    }

    #container2 #modelbutton1, #modelbutton2,
    #modelbutton3,
    #modelbutton4{
        justify-self: flex-start;
        flex-wrap: wrap;  
    }

    .modelsnav a{
        right: 22%;
    }

    .modelsnav span{
        position: var(--relativePosition);
        display: var(--displayFlex);
        align-items: var(--alignItems-Center);
        display: inline;  
    }

.red,
.silver,
.black,
.blue,
.yellow{
    display:var(--displayFlex);
    justify-content: flex-end;
    border: solid white 2px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 5%;
    color: transparent;
}

.red{
    background-color: red;
}
.silver{
    background-color: silver;
}
.black{
    background-color: var(--blackColor);
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: rgb(255, 204, 0);
}

#container3{
    display: block;
    text-align: left;
    min-height: 250px;
    max-height: 336px;
}

#container3 > h3{
    margin-left:3%;
}

#container3 > p{
    margin:3%;
    max-height: 100%;
}

#container4{
    margin-top: 3%;;
    justify-content: flex-start; 
}

#findstore{
    margin-left: 5%;
    align-items: flex-start;
    height: 332px;
    width: 33%;
}

#findstore span{
    text-align: start;
    margin-left: 6%;
    font-size: 45px;
}

.button-find-store{
    align-self:flex-start;
    margin-left: 6%;
}

#container5{
    max-height: 80vh;
}

#container5 div{
    align-items: flex-start;
    justify-content: space-evenly;
    min-height: 500px;
    max-height:500px ;
    min-width: 528px;
    margin-left: 3%;
}

#container5 img{
    height: 250px;    
    align-self: center;
    width: 100%;    
}

#container5 h4, .asidec5 {
    align-self: flex-start;
    margin-left: 4%;
} 

#container6{
    display: var(--displayFlex);
    flex-direction: var(--flexColumn);
    justify-content: end;
    overflow: hidden; 
}

#container6 img{
    position: var(--relativePosition);
    width: 100%;
    max-height: 803px;
    min-height: auto;
    object-fit: cover;
    object-position: center;
    height: auto;
    z-index: -1;   
}  

#container6 article{
    display: var(--displayFlex);
    flex-wrap: nowrap;
    flex-direction: var(--flexColumn);
    justify-content: flex-start;
    background-color: transparent;
    position: var(--absolutePosition);
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
} 

#container6 h4{
    color: var(--mainColor);
    font-size:clamp(1.5rem, 4vw, 6rem); 
    margin-left: 10%;
    text-shadow: var(--blackColor) 0px 0px 4px;  
}

#container6 p{
    color: var(--mainColor);
    font-size:clamp(1.0rem, 1vw, 5rem); 
    width: 28%;
    margin-left: 10%;
    margin-top: 0%;
    text-shadow: var(--blackColor) 0px 0px 2px;
}

#container7{
    flex-direction: var(--flexRow);
    max-height: 816px;
    gap: 15%;
    justify-content: var(--justifyContent-Center);
}

#divcontainer7{   
    max-width:720px;
    height: 40vh;
    display: var(--displayFlex);
    justify-content: var(--justifyContent-SpaceBetween);  
}

#divcontainer7 h4, #divcontainer7 p{
    margin: 0%;
    text-align: start;  
} 

.maybachbutton{
    align-self: start;  
}

#container7 img{
    height: 52vh;
    width: 58vw;
}

#footercontainer{
    flex-direction: var(--flexRow);
    height: 24vh;
}

#footercontainer p{
    max-width:57vw;    
}

#footercontainer2{
    flex-direction: var(--flexRow);
    justify-content: space-evenly;
    max-height: 65vh;
    padding-top: 6%;
}
}
 